<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%=title %></h1>
    <form action="/log-in" method="POST">
      <label for="email">Email: </label><br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="email"
        value="foo@bar.com"
      /><br />
      <label for="password">Password</label><br />
      <input
        type="password"
        id="password"
        name="password"
        value="foobar123"
      /><br />
      <button type="submit">Log In</button>
    </form>
    <% if (locals.errors) {%>
    <ul>
      <%errors.forEach((error)=>{%>
      <li><%= error.msg %></li>
      <%})%>
    </ul>
    <%}%>
  </body>
</html>
